<footer class="site-footer">
  <div class="container">

    <div class="row">
      <!--
      <div id="footer-logos">
        <img src="/assets/Vrije-Universiteit-Amsterdam-logo.jpg" />
        <img src="/assets/logo-uva02-2lines_gif.png" />
        <img src="/assets/logo-leiden.png" />
        <img src="/assets/Spinlab_logo_nw.png" />
      </div>
      -->
      <div class="span8 footer-links">
        <ul class="unstyled">
          <li>© Universiteitsbibliotheek VU 2018  | &nbsp;<a href="http://geoplaza.vu.nl/cms/contact">Contact</a></li>
         <!-- <li><strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://geoblacklight.org/">Blacklight</a></li>-->
        </ul>

      </div>

    </div>

  </div>




</footer>